@import "./variables.scss";

.greycontainer {
  background-color: $grey;
  padding: 40px;
  text-align: center;
  overflow-x: auto;
  h1 {
    color: $dark-grey;
  }
  h2 {
    color: $dark-grey;
  }
  p {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 15px;
  }
  a {
    color: $pawlean;
    text-decoration: none;
    border-bottom: 1px dotted $pawlean;
    &:hover {
      border-bottom: 1px solid $pawlean;
    }
  }
  ul {
    margin: 0 auto;
    text-align: left;
    li {
      margin-bottom: 15px;
    }
  }
}

.skills {
  text-align: center;
  width: 90%;
  padding-top: 30px;
  li {
    list-style-type: none;
    border-radius: 5px;
    border: 1px solid $pawlean;
    padding: 10px;
    color: $pawlean;
    font-size: 1em;
    display: inline-block;
    margin: 10px;
    &:hover {
      background-color: $pawlean;
      color: $white;
      cursor: default;
    }
  }
}

.previouswork {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  text-align: center;
  h3 {
    color: $white;
  }
  img {
    border-radius: 5%;
    width: 150px;
    -webkit-filter: grayscale(100%);
  }
  p {
    color: $white;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 1rem;
    text-align: center;
    width: 100%;
  }
  a {
    text-decoration: none;
    border-bottom: 0px;
    &:hover {
      border-bottom: 0px;

      img {
        -webkit-filter: grayscale(0%);
      }
    }
  }
}

.project {
  background-color: $pawlean;
  padding: 20px;
  border-radius: 2%;
  margin: 10px;
  height: 20em;
}

.whitecontainer {
  background-color: $white;
  padding: 40px;
  text-align: center;
  overflow-x: auto;
  h1 {
    color: $dark-grey;
  }
  h2 {
    color: $dark-grey;
  }
  p {
    width: 50%;
    margin: 0 auto;
    text-align: justify;
    line-height: 1.5rem;
    margin-bottom: 15px;
  }
  a {
    color: $pawlean;
    text-decoration: none;
    border-bottom: 1px dotted $pawlean;
    &:hover {
      border-bottom: 1px solid $pawlean;
    }
  }
  img {
    width: 100%;
    max-width: 700px;
  }
  ul {
    margin: 0 auto;
    text-align: left;
    li {
      margin-bottom: 15px;
    }
  }
  .key {
    background-color: $grey;
  }
}

.features {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 0 auto;
  width: 50%;
  margin-bottom: 10px;
  a {
    border: 0px;
    &:hover {
      border: 0px;
    }
  }
}
.feature {
  margin-bottom: 20px;
  img {
    -webkit-filter: grayscale(100%);
    width: 150px;
    border-radius: 5px;
    &:hover {
      -webkit-filter: grayscale(0%);
    }
  }
  p {
    font-style: italic;
    text-align: center;
    color: $soft-grey;
    font-size: 0.9em;
    line-height: 1rem;
    width: 90%;
  }
}
.key {
  border: 1px dotted $pawlean;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: $white;
}
.videoWrapper {
  width: 50%;
  margin: 0 auto;
}
.talksgroup {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: $white;
  padding: 10px;
  margin-top: 10px;
}
.talks {
  border: 1px dotted $pawlean;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  h3 {
    color: $pawlean;
    text-align: center;
  }
  p {
    width: 100%;
    text-align: center;
  }
  a {
    font-weight: bold;
    text-align: center;
    &:hover {
      background-color: $pawlean;
      color: $white;
    }
  }
}

/* Portrait and Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
  .previouswork {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    text-align: center;
  }

  .features {
    grid-template-columns: 1fr 1fr;
    width: 100%;
    gap: 10px;
  }
  .greycontainer,
  .whitecontainer {
    p {
      width: 100%;
    }
  }
  .key {
    width: 100%;
  }
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .previouswork {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
  }

  .features {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
  }
  .key {
    width: 100%;
  }
}
